<h1>About page</h1>

<h3>What is it?</h3>

<p>Let’s start with what it’s not: <em>Online Scrabble</em>. This is an online tool for people who want to play a game of physical Scrabble, in real-time, with other humans but, for whatever reason
    (such as a global pandemic) are physically isolated from each other. Basically, it’s a shared, virtual tile bag. You provide the rest.</p>

<h3>Why?</h3>

<p>This project was inspired by online Maths educator, <strong>Matt Parker</strong>’s valiant attempt to solve the problem of <a href="https://www.think-maths.co.uk/scrabble-puzzle">how to play
        Scrabble over a video call</a>. His solution, while theoretically solid, seemed to be a bit impractical to actually do every time you want to play a game, not to mention error-prone (see
    video, lol). Hence the <strong>virtual tilebag</strong> was born.</p>

<h3>How?</h3>

<p>You interact with each other over video chat, just like in Matt’s <a href="https://www.think-maths.co.uk/scrabble-puzzle">video</a>. You each have your own Scrabble set, and you&#39;re both
    building the same game on your own board. </p>

<p>But, instead of the complicated shuffling procedure, you just use this app to tell you what your tiles should be at every stage of the game. </p>

<p>To set up, I&#39;d recommend you lay all your tiles out <em>face up</em> for easy access. </p>

<p>Fire up a new game (LINK), enter in your player info and off you go. You&#39;ll be given a unique link to share with each player. </p>

<p>Once you&#39;re in, draw your starting tiles:</p>

<p>BUTTON IMAGE</p>

<p>Then load your physical tile rack to match the virtual one on your screen. </p>

<p>Player 1 starts. Once you&#39;ve played your move IRL, select the played tiles on the screen, re-draw (press the button), and populate your rack accordingly. The other players will need to place
    your move down on their own boards so it&#39;ll help if you can see each other&#39;s games. </p>

<p>And that&#39;s about it. It should be fairly straightforward once you get going. Please send any feedback my way and I&#39;ll try to keep improving it. </p>

<h3> FAQ</h3>

<p><em>Something’s not working properly. Your app messed up. 😡</em></p>

<p>Sorry 🤷‍♂️. It’s a work in progress and is likely to have bugs. I welcome any feedback (positive or negative) to help improve it. </p>

<p><em>Oops, I messed up and entered the wrong tiles! Can I fix it? 😬</em></p>

<p>Not yet. I plan to add full history/undo functionality, but it’s not there yet. You have a couple of possible escape hatches, though. If you just didn’t enter <em>enough</em> tiles, you can ask the
    other player(s) to just play a “dummy” turn where they click the ‘New Tiles’ button with nothing selected and bring it round to you again where you can add the extra tile. Otherwise you’ll need to
    just have a “house rule” for how to handle the situation when a player’s rack doesn’t accurately reflect what’s on their screen. Maybe some kind of penalty? Up to you.</p>

<p><em>Those urls are all the same with just the player number changed. Can&#39;t someone just cheat and look at another player&#39;s link?</em></p>

<p>Sure, but when you play in person you can sneak a peek at their tiles when they’re making a cup of tea. If you wanna cheat, you can cheat. My recommendation is to play board games with people you
    like and trust — whether in person or remotely. </p>

<p><em>Why put all the tiles face UP? Won’t that make it easy to see what’s still out there?</em></p>

<p>Well, yes, but you can deduce this in Scrabble normally anyway, it just takes a little more mental effort. You can see the letter distribution of all the tiles on the edge of the board throughout
    the game, so any thing not in your rack or on the board already is either still in the bag or in the other players’ racks. Same thing here. If it really bothers you, mix two or three sets of
    letters together in one big bag — that’ll make it a lot harder to tell if the unplayed letters you’re seeing are in the game or not. But that’s pretty hardcore.</p>